<!-- Row -->
<div class="row">
    <div class="p-20">
        <h4>Crear nueva liga</h4>
        <p class="text-muted">Completa el siguiente formulario para crear una liga Biwenger. Una vez creada, podrás generar un enlace que compartir con tus amigos para que se unan y participen. ¡Suerte!</p>
        <hr>
        <h2>Competiciones</h2>
    </div>

    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Liga</h4>
                <p class="card-text">Torneo de Liga. Ida y vuelta</p>
                <a href="#/create" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card no-padding-bottom">

            <div class="card-body">
                <div class="form-group">
                    <label class="control-label">Divisiones</label>
                    <p class="card-text">Selecciona el número de Divisiones</p>
                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 2">2</option>                
                                        <option value="Category 1">1</option>               
                                        <option value="Category 3">3</option>
                                        <option value="Category 3">4</option>
                                    </select>
                </div>

            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Copa del Rey</h4>
                <p class="card-text">Torneo a doble partido</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Community Shield</h4>
                <p class="card-text">Torneo del K.O. a partido único</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->


    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Europa League</h4>
                <p class="card-text">La juegan los 5 últimos de cada división</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Champions League</h4>
                <p class="card-text">La juegan los 5 primeros de cada división</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->

    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Supercopas</h4>
                <p class="card-text">Enfrentamiento directo entre campeones</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card">
            <i class="fa fa-trophy"></i>
            <div class="card-body">
                <h4 class="card-title">Mundialitos</h4>
                <p class="card-text">Liguillas entre campeones</p>
                <a href="#" class="btn btn-warning">Añadir</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->


</div>

<div class="card p-20">

    <h6 class="card-subtitle">Torneos</h6>
    <h5 class="text-muted">Has seleccionado los siguientes torneos:</h5>
    <ul>
        <li>Liga</li>
        <li>Copa del Rey</li>
        <li>Europa League</li>
        <li>Champions League</li>
        <li>Supercopas</li>
    </ul>
    <h6 class="card-subtitle">Divisiones</h6>
    <h5 class="text-muted">Has seleccionado 2 Divisiones:</h5>
    <ul>
        <li>Primera División</li>
        <li>Segunda División</li>
    </ul>

</div>
<a href="#/create" class="btn btn-secondary"><i class="fa fa-backward"></i> Atrás</a>
<a href="#/step2" class="btn btn-secondary pull-right"><i class="fa fa-forward"></i> Siguiente</a>