<div class="container">
    <h1>Copa del Rey</h1>
    <h2>Nombredelaliga</h2>
    <div class="tournament-bracket tournament-bracket--rounded">
        <div class="tournament-bracket__round tournament-bracket__round--eighthfinals">
            <h3 class="tournament-bracket__round-title">Octavos de Final</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
            <h3 class="tournament-bracket__round-title">Cuartos de Final</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--semifinals">
            <h3 class="tournament-bracket__round-title">Semifinales</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>

                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--bronze">
            <h3 class="tournament-bracket__round-title">3er y cuarto puesto</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-bracket__round tournament-bracket__round--gold">
            <h3 class="tournament-bracket__round-title">Final</h3>
            <ul class="tournament-bracket__list">
                <li class="tournament-bracket__item">
                    <div class="tournament-bracket__match" tabindex="0">
                        <table class="tournament-bracket__table">

                            <thead class="sr-only">
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tournament-bracket__content">
                                <tr class="tournament-bracket__team tournament-bracket__team--winner">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Real Madrid">RMA</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">4</span>
                                        <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy" aria-label="Gold medal"></span>
                                    </td>
                                </tr>
                                <tr class="tournament-bracket__team">
                                    <td class="tournament-bracket__country">
                                        <abbr class="tournament-bracket__code" title="Schalke 04">S04</abbr>
                                        <span><img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /></span>
                                    </td>
                                    <td class="tournament-bracket__score">
                                        <span class="tournament-bracket__number">1</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>