<div class="row">
    <div class="col-12 m-t-30">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Palmarés</h4>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Nombredelaliga</h6>
                <p class="card-text">5º clasificado en Primera División Temporada 1</p>
                <a href="#" class="card-link">Campeón de Europa League</a>
                <a href="#" class="card-link">Subcampeón de Supercopa Europea</a>
                <br><br>
                <p class="card-text">4º clasificado en Primera División Temporada 2</p>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Nombredelaliga</h6>
                <p class="card-text">2º clasificado en Primera División Temporada 2016/2017</p>
            </div>
        </div>
    </div>
</div>