<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row pricing-plan">
                    <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box">
                            <div class="pricing-body b-l">
                                <div class="pricing-header">
                                    <img src="assets/images/sponsors/ferrari.png" alt="ferrari">
                                    <h4 class="text-center">2.000.000 <span class="price-sign">€</span></h4>
                                    <p class="uppercase">por temporada</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"> Partido de liga Ganado: <strong>2.000.000 <span class="price-sign">€</span></strong> </div>
                                    <div class="price-row"> Ascender: 14.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row"> Alcanzar final: 6.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título mayor: 30.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título menor: 9.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">
                                        <button class="btn btn-info waves-effect waves-light m-t-20">Seleccionar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box b-l">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <img src="assets/images/sponsors/mahou.png" alt="mahou">
                                    <h4 class="text-center">2.000.000 <span class="price-sign">€</span></h4>
                                    <p class="uppercase">por temporada</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"> Partido de liga Ganado: <strong>2.000.000 <span class="price-sign">€</span></strong> </div>
                                    <div class="price-row"> Ascender: 14.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row"> Alcanzar final: 6.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título mayor: 30.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título menor: 9.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">
                                        <button class="btn btn-info waves-effect waves-light m-t-20">Seleccionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box featured-plan">
                            <div class="pricing-body">
                                <div class="pricing-header">
                                    <img src="assets/images/sponsors/movistar.png" alt="samsung">
                                    <h4 class="text-center">2.000.000 <span class="price-sign">€</span></h4>
                                    <p class="uppercase">por temporada</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"> Partido de liga Ganado: <strong>2.000.000 <span class="price-sign">€</span></strong> </div>
                                    <div class="price-row"> Ascender: 14.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row"> Alcanzar final: 6.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título mayor: 30.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título menor: 9.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">
                                        <button class="btn btn-danger waves-effect waves-light m-t-20">Seleccionado</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                        <div class="pricing-box">
                            <div class="pricing-body b-r">
                                <div class="pricing-header">
                                    <img src="assets/images/sponsors/samsung.png" alt="nike">
                                    <h4 class="text-center">2.000.000 <span class="price-sign">€</span></h4>
                                    <p class="uppercase">por temporada</p>
                                </div>
                                <div class="price-table-content">
                                    <div class="price-row"> Partido de liga Ganado: <strong>2.000.000 <span class="price-sign">€</span></strong> </div>
                                    <div class="price-row"> Ascender: 14.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row"> Alcanzar final: 6.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título mayor: 30.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">Por título menor: 9.000.000 <span class="price-sign">€</span></div>
                                    <div class="price-row">
                                        <button class="btn btn-info waves-effect waves-light m-t-20">Seleccionar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10 pull-right">Guardar cambios</button>
            </div>

        </div>
    </div>

</div>