<!-- .row -->
<div class="row">
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="app-contact-detail.html"><img src="../assets/images/users/1.jpg" alt="user" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">Pepito Dortmund</h3> <small>Borussia Dortmund</small>
                    <br/>
                    <a class="mdi mdi-gamepad-variant"> pepitops4</a>
                    <br/>
                    <a class="mdi mdi-phone"> 669234562</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="app-contact-detail.html"><img src="../assets/images/users/2.jpg" alt="user" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">Neymar Jr Barcelona</h3> <small>FC Barcelona</small>
                    <br/>
                    <a class="mdi mdi-gamepad-variant"> neymarjr10.ps4</a>
                    <br/>
                    <a class="mdi mdi-phone"> 652234562</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
    <!-- .col -->
    <div class="col-md-6 col-lg-6 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a href="app-contact-detail.html"><img src="../assets/images/users/3.jpg" alt="user" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">Juanito Almería</h3> <small>Derby County</small>
                    <br/>
                    <a class="mdi mdi-gamepad-variant"> juande.69</a>
                    <br/>
                    <a class="mdi mdi-phone"> 610234562</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->