<!-- Timeline -->
<div class="col-lg-12 col-xlg-12 col-md-12 col-sm-12">
    <div class="card">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs profile-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Noticias Nombredelaliga</a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content col-12 col-sm-12">
            <div class="tab-pane active" id="home" role="tabpanel">
                <div class="card-body">
                    <div class="profiletimeline col-12 col-sm-12">
                        <div class="sl-item ">
                            <div class="sl-left "> <span class="round bg-warning"><i class="mdi mdi-wallet-travel"></i></span></div>
                            <div class="sl-right ">
                                <div><a href="# " class="link ">Normas</a> <span class="sl-date">Mensaje fijado</span>
                                    <p class="m-t-10 "> Participación de 20€ cada miembro para un premio final, dinero que obligatoriamente debe ser entregado (en mano o por transferencia bancaria) antes del día 1 de Julio de 2017. Ese día, quien no haya pagado, no podrá
                                        continuar en la liga registrado. </p>
                                    <a href="#/rules" class="card-link">Ver normas</a>
                                </div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left"> <span class="round bg-warning"><i class="mdi mdi-transit-transfer"></i></span></div>
                            <div class="sl-right">
                                <div><a href="#" class="link">Acuerdos</a> <span class="sl-date">hace 5 minutos</span>

                                    <div class="row">

                                        <div class="m-t-20 row ">
                                            <div class="col-md-4 col-xs-12 "><img src="https://cdn.sofifa.org/48/18/players/20801.png" alt="user" class="img-circle" /> Cristiano Ronaldo</div>

                                            <div><span class="label label-success">94</span> <span class="label label-danger">DC</span> <span class="label label-danger">EI</span></div>
                                            <div class="col-md-9 col-xs-12 ">
                                                <p> Vendido por <strong>Borussia Dortmund</strong> <img src="https://cdn.sofifa.org/24/18/teams/22.png" alt="user" class="img-circle" /> a <strong>Real Madrid</strong> <img src="https://cdn.sofifa.org/24/18/teams/243.png"
                                                        alt="user" class="img-circle" /> por <strong>140.000.000 €</strong> </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="like-comm "> <a href="javascript:void(0) " class="link m-r-10 ">2 comentarios</a> <a href="javascript:void(0) " class="link m-r-10 "><i class="fa fa-heart text-danger "></i> 5 Corazones</a> </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sl-item">
                            <div class="sl-left"> <span class="round bg-warning"><i class="mdi mdi-transit-transfer"></i></span></div>
                            <div class="sl-right">
                                <div><a href="#" class="link">Cláusulas</a> <span class="sl-date">hace 2 horas</span>

                                    <div class="row">

                                        <div class="m-t-20 row ">
                                            <div class="col-md-4 col-xs-12 "><img src="https://cdn.sofifa.org/48/18/players/188545.png" alt="user" class="img-circle" /> Lewandowski</div>

                                            <div><span class="label label-success">91</span> <span class="label label-danger">DC</span></div>
                                            <div class="col-md-9 col-xs-12 ">
                                                <p> Clausulado por <strong>Borussia Dortmund</strong> <img src="https://cdn.sofifa.org/24/18/teams/22.png" alt="user" class="img-circle" /> por <strong>91.000.000 €</strong> </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="like-comm "> <a href="javascript:void(0) " class="link m-r-10 ">5 comentarios</a> <a href="javascript:void(0) " class="link m-r-10 "><i class="fa fa-heart text-danger "></i> 0 Corazones</a> </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="sl-item ">
                            <div class="sl-left "> <span class="round bg-warning"><i class="mdi mdi-trophy"></i></span> </div>
                            <div class="sl-right ">
                                <div><a href="# " class="link ">Jornada 9 de Liga</a> <span class="sl-date ">Ayer</span>

                                    <table class="table condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Partidos</th>
                                                <th>Resultados</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.sofifa.org/24/18/teams/22.png" alt="user" class="img-circle" /> Borussia Dortmund - Real Madrid <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle"
                                                    />
                                                </td>
                                                <td>
                                                    4 - 1
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.sofifa.org/24/18/teams/34.png" alt="user" class="img-circle" /> Schalke 04 - Lille <img src="https://cdn.sofifa.org/24/18/teams/65.png" alt="user" class="img-circle" />
                                                </td>
                                                <td>
                                                    4 - 1
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> FC Barcelona - Borussia Mönchengladbach <img src="https://cdn.sofifa.org/24/18/teams/23.png" alt="user" class="img-circle"
                                                    />
                                                </td>
                                                <td>
                                                    4 - 1
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.sofifa.org/24/18/teams/91.png" alt="user" class="img-circle" /> Derby County - Feyenoord <img src="https://cdn.sofifa.org/24/18/teams/246.png" alt="user" class="img-circle" />
                                                </td>
                                                <td>
                                                    4 - 1
                                                </td>

                                            </tr>

                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://cdn.sofifa.org/24/18/teams/21.png" alt="user" class="img-circle" /> Bayern Munich - Atlético de Madrid <img src="https://cdn.sofifa.org/24/18/teams/240.png" alt="user" class="img-circle"
                                                    />
                                                </td>
                                                <td>
                                                    4 - 1
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>