<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="1">1. Información general</h4>

                <h6 class="card-subtitle">Nombredelaliga</h6>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Plantillas</td>
                                <td>Personalizadas</td>
                            </tr>
                            <tr>
                                <td>Controles</td>
                                <td>Cualquiera</td>
                            </tr>
                            <tr>
                                <td>Defensa</td>
                                <td>Táctica</td>
                            </tr>
                            <tr>
                                <td>Velocidad</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>Duración partidos</td>
                                <td>6 minutos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="1">2. Divisiones</h4>

                <h6 class="card-subtitle">Nombredelaliga</h6>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>División de Oro</td>
                                <td>10 equipos</td>
                            </tr>
                            <tr>
                                <td>División de Plata</td>
                                <td>10 equipos</td>
                            </tr>
                            <tr>
                                <td>División de Bronce</td>
                                <td>10 equipos</td>
                            </tr>
                            <tr>
                                <td>División de Madera</td>
                                <td>10 equipos</td>
                            </tr>
                        </tbody>


                    </table>
                </div>


            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="1">3. Ascensos y descensos</h4>

                <h6 class="card-subtitle">Nombredelaliga</h6>
                <div class="table-responsive">

                    <p>Suben directos 2 primeros de Plata a Oro y bajan directos 3 últimos de Oro a Plata. De igual modo suben directos 2 primeros de bronce a plata y los 3 últimos de plata bajan directos a Bronce. Los 3 últimos de Bronce bajan a Madera
                        y los 2 primeros de Madera suben a Bronce.
                    </p>
                    <p>
                        Promoción de Ascenso: Fase de Promoción a Oro (3 plata vs 4 plata ) a un solo partido. En caso de empate segundo partido con gol de oro. Fase de Promoción a Plata (3 bronce vs 4 bronce ) a un solo partido. En caso de empate segundo partido con gol de
                        oro. Fase de Promoción a Bronce (3 madera vs 4 madera ) a un solo partido. En caso de empate segundo partido con gol de oro.
                    </p>
                </div>


            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="1">4. Actualizaciones de plantillas</h4>

                <h6 class="card-subtitle">Nombredelaliga</h6>
                <div class="table-responsive">

                    <p>Las únicas actualizaciones obligatorias de plantillas, son las de semana de mercado (indicada por los admins en cada planificación de mercado). El resto de semanas, es opcional actualizar. Cuando actualicéis plantillas (sea opcional
                        u obligatoria), debéis mandar mensaje privado de Whatsapp al admin, con los cambios de media de esa actualización en vuestra plantilla para que los admins actualicen los despachos con esos cambios de medias.
                    </p>
                    <p>
                        Resumiendo, las medias que aparezcan en vuestros despachos deben ser las que tengáis en vuestro equipo de play (obviamente sin contar el Macht Day). El que juegue con plantillas no actualizadas según la semana de mercado o las semanas opcionales posteriores
                        que cada manager hubiera descargado y comunicado al admin y el rival lo denuncie mediante foto/video, tendrá partido perdido y posible sanción económica.

                    </p>
                </div>


            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="1">5. Despachos</h4>

                <h6 class="card-subtitle">Nombredelaliga</h6>
                <div class="table-responsive">

                    <p>Lo único que debéis indicar por mensaje privado por Whatsapp al admin diciendo: 1.- Cambios de media de vuestros jugadores según la actualización de FIFA de mercado que indican los admins. 2.- Despacho cerrado (no se podrá realizar
                        ninguna operación de mercado una vez indicado esto al admin) Los sueldos de los jugadores se pagan durante todo el año; de ahí la importancia de comunicar al admin los cambios de media. Una vez que mandéis el citado mensaje privado
                        por Whatsapp al admin, revisaré y sancionaré al equipo que tenga la mínima cosa mal en las operaciones que haya realizado, precios erróneos, exceso o falta de jugadores, cambios de media, etc.....). Resumiendo, cualquier cosa mal
                        hecha, supondrá sanción. Todo es muy fácil y está en normas perfectamente explicado en normas, así que no deberíais tener ningún problema. Mínimo de jugadores: 18 Máximo de jugadores: 20
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->