<!-- Row -->
<div class="row">
    <div>
        <h4>Crear nueva liga</h4>
        <p class="text-muted">Completa el siguiente formulario para crear una liga Biwenger. Una vez creada, podrás generar un enlace que compartir con tus amigos para que se unan y participen. ¡Suerte!</p>
    </div>

    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-plus"></i>
            <div class="card-body">
                <h4 class="card-title">Liga básica</h4>
                <p class="card-text">Una liga básica, ideal para torneos de Liga de una tarde</p>
                <a href="#/step2" class="btn btn-warning">Básica</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-chain"></i>
            <div class="card-body">
                <h4 class="card-title">Liga premium</h4>
                <p class="card-text">Torneo de Liga, Copa, Europa League y Champions League</p>
                <a href="#/step2" class="btn btn-warning">Premium</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6 text-center">
        <!-- Card -->
        <div class="card">
            <i class="fa fa-copy"></i>
            <div class="card-body">
                <h4 class="card-title">Liga personalizada</h4>
                <p class="card-text">Selecciona los torneos en los que queréis participar</p>
                <a href="#/step1" class="btn btn-warning">Personalizada</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->


</div>
<a href="#/add" class="btn btn-secondary"><i class="fa fa-backward"></i>Atrás</a>
<a href="#/step1" class="btn btn-secondary pull-right"><i class="fa fa-forward"></i>Siguiente</a>