<!-- Row -->
<div class="row">
    <div class="p-20">
        <h4>Crear nueva liga</h4>
        <p class="text-muted">Completa el siguiente formulario para crear una liga Biwenger. Una vez creada, podrás generar un enlace que compartir con tus amigos para que se unan y participen. ¡Suerte!</p>
        <hr>
        <h2>Ajustes</h2>
    </div>

    <!-- column -->
    <div class="col-lg-6 col-md-12">
        <!-- Card -->
        <div class="card p-20">

            <h6 class="card-subtitle">Liga Nombredelaliga</h6>


            <div class="form-group">
                <label class="control-label">Nombre de la liga</label>
                <input type="text" placeholder="Nombredelaliga" class="form-control">
            </div>

            <hr>
            <h6 class="card-subtitle">Reparto Inicial</h6>

            <div class="form-group">
                <label class="control-label">Nuevos miembros de la liga</label>
                <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                                    <option value="Category 1">Plantilla aleatoria + 100 Millones menos el valor del equipo</option>  
                                                    <option value="Category 2">Plantilla aleatoria + 200 Millones menos el valor del equipo</option>
                                                    <option value="Category 3">Plantilla aleatoria sin dinero</option>
                                                    <option value="Category 4">100 Millones sin jugadores</option>
                                                    <option value="Category 5">200 Millones sin jugadores</option>
                                                    
                                                </select>
            </div>
            <hr>
            <h6 class="card-subtitle">Icono y Descripción</h6>
            <label class="">Icono de la liga</label>
            <div class="center-block">
                <img src="assets/images/logo-icon.png" alt="user" class="img-circle" />
                <br>
                <br>

            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-danger"> <i class="fa fa-pencil"></i> Edit</button>
                                <button type="button" class="btn btn-inverse">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <label class="">Descripción de la liga</label>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <p>Inserta el texto que describa tu liga y ánclalo a tu muro</p>
                            <form method="post">
                                <div class="form-group">
                                    <textarea class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-6 col-md-12">
        <!-- Card -->
        <div class="card p-20">
            <h6 class="card-subtitle">Club Nombredetuclub</h6>


            <div class="form-group">
                <label class="control-label">Nombre de tu club</label>
                <input type="text" placeholder="Nombredetuclub" class="form-control">
            </div>
            <hr>
            <label class="">Icono de tu club</label>
            <div class="center-block">
                <img src="assets/images/logo-icon.png" alt="user" class="img-circle" />
                <br>
                <br>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-danger"> <i class="fa fa-pencil"></i> Edit</button>
                                <button type="button" class="btn btn-inverse">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card -->

        <div class="card p-20">

            <h6 class="card-subtitle">Torneos</h6>
            <h5 class="text-muted">Has seleccionado los siguientes torneos:</h5>
            <ul>
                <li>Liga</li>
                <li>Copa del Rey</li>
                <li>Europa League</li>
                <li>Champions League</li>
                <li>Supercopas</li>
            </ul>
            <hr>
            <h6 class="card-subtitle">Divisiones</h6>
            <h5 class="text-muted">Has seleccionado 2 Divisiones:</h5>
            <ul>
                <li>Primera División</li>
                <li>Segunda División</li>
            </ul>

        </div>

    </div>
    <!-- column -->



</div>

<a href="#/step1" class="btn btn-secondary"><i class="fa fa-backward"></i> Atrás</a>
<a href="#/dashboard" class="btn btn-success pull-right"><i class="fa fa-forward"></i> Crear liga</a>