<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/0.jpg" alt="user" /><span class="hide-menu">Franbe Nito </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi Perfil </a></li>
                        <li><a href="javascript:void()">Palmarés</a></li>
                        <li><a href="javascript:void()">Mensajes</a></li>
                        <li><a href="javascript:void()">Ajustes de cuenta</a></li>
                        <li><a href="javascript:void()">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Inicio </span></a>
                    <li class="nav-small-cap">CLUB </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-tshirt-crew"></i><span class="hide-menu">Plantilla <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Estado del equipo </a></li>
                            <li><a href="index2.html">Transferibles </a></li>
                            <li><a href="index2.html">Ofertas </a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-currency-eur"></i><span class="hide-menu">Finanzas <span class="label label-rouded label-success pull-right">S</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Salarios </a></li>
                            <li><a href="index2.html">Sponsor </a></li>
                            <li><a href="index2.html">Balance </a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap">COMPETICIONES </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-trophy"></i><span class="hide-menu">Clasificaciones </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Liga </a></li>
                            <li><a href="index2.html">Copa del Rey </a></li>
                            <li><a href="index2.html">Champions League </a></li>
                            <li><a href="index2.html">Europa League </a></li>
                        </ul>
                    </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-calendar-range"></i><span class="hide-menu">Calendario </span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Liga </a></li>
                            <li><a href="index2.html">Copa del Rey </a></li>
                            <li><a href="index2.html">Champions League </a></li>
                            <li><a href="index2.html">Europa League </a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap">MERCADO </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-transit-transfer"></i><span class="hide-menu">Fichajes <span class="label label-rouded label-danger pull-right">A</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Acuerdos </a></li>
                            <li><a href="index2.html">Subastas </a></li>
                            <li><a href="index2.html">Cláusulas </a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap">BASE DE DATOS </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-human-greeting"></i><span class="hide-menu">Jugadores </span></a>
                    </li>
                    <li class="nav-devider"></li>
                    <li class="nav-small-cap">INSTITUCIONAL </li>
                    <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-wallet-travel"></i><span class="hide-menu">Liga <span class="label label-rouded label-warning pull-right">N</span></span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Noticias </a></li>
                            <li><a href="index2.html">Normas </a></li>
                            <li><a href="index2.html">Managers </a></li>
                        </ul>
                    </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->