<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-sm">
        <div class="card text-center">
            <div class="card-body">


                <div class="player1">
                    <img src="assets/images/players/messi.png" class="img-circle" width="150">
                    <div class="info">
                        <h1 class="card-title">L. Messi</h1>
                    </div>
                </div>
                <div class="table-responsible">
                    <table class="table">

                        <thead>
                            <tr>
                                <th><small class=" text-muted p-t-30 db text-center">Posición </small></th>
                                <th><small class="text-muted p-t-30 db text-center">Media</small></th>
                                <th><small class="text-muted p-t-30 db text-center">Potencial</small></th>
                                <th><small class="text-muted p-t-30 db text-center">Club</small></th>
                                <th><small class="text-muted p-t-30 db text-center">Valor</small></th>
                                <th><small class="text-muted p-t-30 db text-center">Salario</small></th>
                            </tr>


                        </thead>
                        <tbody>

                            <tr>
                                <td><span class="label label-info ">EI</span> <span class="label label-info ">DC</span> <span class="label label-info ">ED</span></td>
                                <td><span class="label label-p80 ">94</span></td>
                                <td><span class="label label-p80 ">94</span></td>
                                <td><img src="assets/images/teams/barcelona.png " alt="user " width="30 " /> F.C. Barcelona</td>
                                <td>105.000.000 € <span class="mv-equal ">0 €</span></td>
                                <td>565.000 €</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="teams">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="pl ">
                                        <li> <label class="labelpl ">Pierna buena</label> Izquierda</li>
                                        <li> <label class="labelpl ">Reputación internacional</label> 5 <i class="fa fa-star "></i></li>
                                        <li> <label class="labelpl ">Pierna mala</label> 4 <i class="fa fa-star "></i></li>
                                        <li> <label class="labelpl ">Filigranas</label> 4 <i class="fa fa-star "></i></li>
                                        <li> <label class="labelpl ">Trabajo</label> Medio / Medio </li>
                                        <li> <label class="labelpl ">Cláusula</label> 242.000.000 € </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <!-- Column -->
    <!-- Column -->

    <div class="container ">
        <div class="row ">
            <div class="col-sm ">

                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Ofensiva</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p70 ">77</span> Centros
                                </li>
                                <li>
                                    <span class="label label-p80 ">95</span> Definición
                                </li>
                                <li>
                                    <span class="label label-p70 ">71</span> Precisión cabeza
                                </li>
                                <li>
                                    <span class="label label-p80 ">88</span> Pases cortos
                                </li>
                                <li>
                                    <span class="label label-p80 ">86</span> Voleas
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Técnica</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p80 ">97</span> Regates
                                </li>
                                <li>
                                    <span class="label label-p80 ">90</span> Efecto
                                </li>
                                <li>
                                    <span class="label label-p80 ">91</span> Precisión faltas
                                </li>
                                <li>
                                    <span class="label label-p80 ">87</span> Pases largos
                                </li>
                                <li>
                                    <span class="label label-p80 ">96</span> Control balón
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Movimiento</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p80 ">92</span> Aceleración
                                </li>
                                <li>
                                    <span class="label label-p80 ">87</span> Velocidad
                                </li>
                                <li>
                                    <span class="label label-p80 ">90</span> Agilidad
                                </li>
                                <li>
                                    <span class="label label-p80 ">95</span> Reflejos
                                </li>
                                <li>
                                    <span class="label label-p80 ">95</span> Equilibrio
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm ">


                <div class="card ">
                    <div class="card-body ">
                        <div>
                            <h5>Potencia</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p80 ">85</span> Potencia
                                </li>
                                <li>
                                    <span class="label label-p60 ">67</span> Salto
                                </li>
                                <li>
                                    <span class="label label-p70 ">73</span> Resitencia
                                </li>
                                <li>
                                    <span class="label label-p50 ">59</span> Fuerza
                                </li>
                                <li>
                                    <span class="label label-p80 ">88</span> Tiros lejanos
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="w-100 "></div>
            <div class="col-sm ">
                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Mentalidad</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p0 ">48</span> Agresividad
                                </li>
                                <li>
                                    <span class="label label-p0 ">22</span> Intercepciones
                                </li>
                                <li>
                                    <span class="label label-p80 ">93</span> Colocación
                                </li>
                                <li>
                                    <span class="label label-p80 ">92</span> Visión
                                </li>
                                <li>
                                    <span class="label label-p70 ">75</span> Penaltis
                                </li>
                                <li>
                                    <span class="label label-p80 ">97</span> Compostura
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Defensa</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p0 ">13</span> Marcaje
                                </li>
                                <li>
                                    <span class="label label-p0 ">28</span> Robos
                                </li>
                                <li>
                                    <span class="label label-p0 ">26</span> Entradas
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm ">

                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Portero</h5>
                            <ul class="pl ">
                                <li>
                                    <span class="label label-p0 ">6</span> Estirada
                                </li>
                                <li>
                                    <span class="label label-p0 ">11</span> Paradas
                                </li>
                                <li>
                                    <span class="label label-p0 ">15</span> Saques
                                </li>
                                <li>
                                    <span class="label label-p0 ">14</span> Colocación
                                </li>
                                <li>
                                    <span class="label label-p0 ">8</span> Reflejos
                                </li>


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card ">
                    <div class="card-body ">

                        <div>
                            <h5>Rasgos</h5>
                            <ul class="pl ">
                                <li>Tiro de calidad</li>
                                <li>Cañonero</li>
                                <li>Regate hábil</li>
                                <li>Jugón</li>
                                <li>Jugador franquicia</li>
                                <li>Vaselina</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>