<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subastas</h4>
                <h6 class="card-subtitle">Nombredeusuario</h6>

                <div class="table-responsive">
                    <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list data-sort-name" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="sortable both">Posición</th>
                                <th>Club</th>
                                <th>Nombre</th>
                                <th>Foto</th>
                                <th>País</th>
                                <th>Media</th>
                                <th>Potencial</th>
                                <th>Estado</th>
                                <th>Valor</th>
                                <th>%</th>
                                <th>Salario</th>
                                <th>Mercado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td><span class="label label-info">DC</span> <span class="label label-info">EI</span></td>

                                <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                                <td>
                                    <a href="#/player"> Cristiano Ronaldo</a>
                                </td>
                                <td><img src="https://cdn.sofifa.org/48/18/players/20801.png" alt="user" class="img-circle" /></td>
                                <td><img src="https://cdn.sofifa.org/flags/38.png" alt="user" class="img-circle" /></td>
                                <td><span class="label label-p80 ">94</span></td>
                                <td><span class="label label-p80 ">94</span></td>
                                <td><i class="fa fa-check-square"></i></td>
                                <td> 95.500.000 € </td>
                                <td class="mv-decrement"> - 2.100.000 € </td>
                                <td> 565.000 € </td>
                                <td>
                                    <div>
                                        <div>

                                            <!-- sample modal content -->
                                            <div id="modalhacerpuja" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Subasta por Cristiano Ronaldo</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                                                                    <thead>
                                                                        <tr>

                                                                            <th class="text-center">Precio de puja</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>

                                                                            <td>
                                                                                <div class="form-group">
                                                                                    <input id="tch3" type="number" value="105.000.000" name="tch3" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline">
                                                                                </div>
                                                                            </td>

                                                                        </tr>
                                                                </table>
                                                                <div class="text-center text-muted">Fichado el 22/8/18 por 200.000.000 <span class="mv-decrement">- 104.500.000 €</span></div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn btn-danger waves-effect waves-light">Guardar cambios</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.modal -->
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#modalhacerpuja">Hacer puja</button>

                                            <!-- sample modal content -->
                                            <div id="modalenventa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Subasta por L. Messi</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                                                                    <thead>
                                                                        <tr>

                                                                            <th class="text-center">Precio de venta</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>

                                                                            <td>
                                                                                <div class="form-group">
                                                                                    <input id="tch3" type="number" value="105.000.000" name="tch3" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline">
                                                                                </div>
                                                                            </td>

                                                                        </tr>
                                                                </table>
                                                                <div class="text-center text-muted">Fichado el 22/8/18 por 200.000.000 <span class="mv-decrement">- 104.500.000 €</span></div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Renovar</button>
                                                            <button type="button" class="btn btn-danger waves-effect waves-light">Retirar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- /.modal -->
                                            <button class="btn btn-secondary" data-toggle="modal" data-target="#modalenventa">En subastas</button>

                                        </div>
                                    </div>
                                    <div>
                                        Puja más alta: Nombredelclub 150.000.000 €
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td><span class="label label-info">ED</span></td>

                                <td> <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> </td>
                                <td>
                                    <a href="app-contact-detail.html"> L. Messi</a>
                                </td>
                                <td><img src="https://cdn.sofifa.org/48/18/players/158023.png" alt="user" class="img-circle" /></td>
                                <td><img src="https://cdn.sofifa.org/flags/52.png" alt="user" class="img-circle" /></td>
                                <td><span class="label label-p80 ">93</span></td>
                                <td><span class="label label-p80 ">93</span></td>
                                <td><i class="fa fa-check-square"></i></td>
                                <td> 105.000.000 € </td>
                                <td class="mv-equal"> 0 € </td>
                                <td> 565.000 € </td>
                                <td>
                                    <div>

                                        <!-- sample modal content -->
                                        <div id="modalcambiarpuja" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Subasta por Cristiano Ronaldo</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="table-responsive">
                                                            <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="text-center">Precio de puja</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input id="tch3" type="number" value="105.000.000" name="tch3" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline">
                                                                            </div>
                                                                        </td>

                                                                    </tr>
                                                            </table>
                                                            <div class="text-center text-muted">Fichado el 22/8/18 por 200.000.000 <span class="mv-decrement">- 104.500.000 €</span></div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Renovar</button>
                                                        <button type="button" class="btn btn-danger waves-effect waves-light">Retirar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- /.modal -->
                                        <button class="btn btn-warning" data-toggle="modal" data-target="#modalcambiarpuja">Cambiar puja</button>
                                        <!-- sample modal content -->
                                        <div id="modalenventa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Oferta por Cristiano Ronaldo</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="table-responsive">
                                                            <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="text-center">Precio de venta</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input id="tch3" type="number" value="105.000.000" name="tch3" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline">
                                                                            </div>
                                                                        </td>

                                                                    </tr>
                                                            </table>
                                                            <div class="text-center text-muted">Fichado el 22/8/18 por 200.000.000 <span class="mv-decrement">- 104.500.000 €</span></div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                                                        <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Renovar</button>
                                                        <button type="button" class="btn btn-danger waves-effect waves-light">Retirar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- /.modal -->
                                        <button class="btn btn-secondary" data-toggle="modal" data-target="#modalenventa">En subastas</button>

                                    </div>
                                    <div>
                                        Puja más alta: Nombredelclub 150.000.000 €
                                    </div>
                                </td>
                            </tr>

                            </tbody>

                            <tfoot>



                            </tfoot>
                    </table>


                </div>

            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <div class="btn-group">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-info">1</button>
                        <button type="button" class="btn btn-disabled">2</button>
                    </div>
                    <input type="text" id="demo-input-search2" placeholder="Filtrar" class="form-control">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-navicon"></i>
                            </button>
                    <div class="dropdown-menu"> Ordenar por
                        <a class="dropdown-item" href="#">Posición</a>
                        <a class="dropdown-item" href="#">Club</a>
                        <a class="dropdown-item" href="#">Jugador</a>
                        <a class="dropdown-item" href="#">Forma</a>
                        <a class="dropdown-item" href="#">Valor de mercado</a>
                        <a class="dropdown-item" href="#">Bajones y subidones</a>
                        <a class="dropdown-item" href="#">Estado</a>
                        <a class="dropdown-item" href="#">Media de puntos</a>
                        <a class="dropdown-item" href="#">Salarios</a>
                    </div>
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                                Herramientas
                            </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Poner toda la plantilla en transferibles</a>
                        <a class="dropdown-item" href="#">Renovar todos los jugadores en venta</a>
                        <a class="dropdown-item" href="#">Retirar todos los jugadores en venta</a>
                    </div>
                </div>

            </div>

        </div>



    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->