<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Foto</th>
                            <th>Nacionalidad</th>
                            <th>Media</th>
                            <th>Potencial</th>
                            <th>Club</th>
                            <th>Valor</th>
                            <th>Salario</th>
                            <th>Posición</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>
                                <a href="app-contact-detail.html"> Cristiano Ronaldo</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/20801.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/38.png" alt="user" class="img-circle" /></td>
                            <td>94</td>
                            <td>94</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €95.5M </td>
                            <td> €565K </td>
                            <td><span class="label label-danger">DC</span> <span class="label label-danger">EI</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="app-contact-detail.html"> L. Messi</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/158023.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/52.png" alt="user" class="img-circle" /></td>
                            <td>93</td>
                            <td>93</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> </td>
                            <td> €105M </td>
                            <td> €565K </td>
                            <td><span class="label label-danger">ED</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <a href="app-contact-detail.html"> Neymar</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/190871.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/54.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>94</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/73.png" alt="user" class="img-circle" /> </td>
                            <td> €123M </td>
                            <td> €280K </td>
                            <td><span class="label label-danger">EI</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <a href="app-contact-detail.html"> L. Suárez</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/176580.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/60.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> </td>
                            <td> €97M </td>
                            <td> €510K </td>
                            <td><span class="label label-danger">DC</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <a href="app-contact-detail.html"> M. Neuer</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/167495.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/21.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/21.png" alt="user" class="img-circle" /> </td>
                            <td> €61M </td>
                            <td> €230K </td>
                            <td><span class="label label-themecolor">PT</span> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <a href="app-contact-detail.html"> R. Lewandowski</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/188545.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/37.png" alt="user" class="img-circle" /></td>
                            <td>91</td>
                            <td>91</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/21.png" alt="user" class="img-circle" /> </td>
                            <td> €92M </td>
                            <td> €355K </td>
                            <td><span class="label label-danger">DC</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <a href="app-contact-detail.html"> De Gea</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/193080.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/45.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/11.png" alt="user" class="img-circle" /> </td>
                            <td> €64.5M </td>
                            <td> €215K </td>
                            <td><span class="label label-themecolor">PT</span> </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <a href="app-contact-detail.html"> E. Hazard</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/183277.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/7.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>91</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/5.png" alt="user" class="img-circle" /> </td>
                            <td> €90.5M </td>
                            <td> €295K </td>
                            <td><span class="label label-danger">EI</span> </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <a href="app-contact-detail.html"> T. Kroos</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/182521.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/7.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €79M </td>
                            <td> €340K </td>
                            <td><span class="label label-success">MC</span> <span class="label label-success">MCD</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <a href="app-contact-detail.html"> G. Higuaín</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/167664.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/52.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/45.png" alt="user" class="img-circle" /> </td>
                            <td> €77M </td>
                            <td> €275K </td>
                            <td><span class="label label-danger">DC</span> </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <a href="app-contact-detail.html"> Sergio Ramos</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/155862.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/45.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €52M </td>
                            <td> €310K </td>
                            <td><span class="label label-warning">DFC</span> </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
                            </td>
                            <!-- /modal para agregar nuevo jugador-->
                            <td colspan="7">
                                <div class="text-right">
                                    <ul class="pagination"> </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div class="contact-page-aside">
                <div class="left-aside bg-light-part">
                    <ul class="list-style-none">
                        <li class="box-label"><a href="javascript:void(0)">Todos tus jugadores <span>123</span></a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">En plantilla <span>103</span></a></li>
                        <li><a href="javascript:void(0)">Transferibles <span>19</span></a></li>
                        <li><a href="javascript:void(0)">Cedidos <span>623</span></a></li>
                        <li class="box-label"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="btn btn-info text-white"> Crear nueva etiqueta </a></li>
                        <!-- /modal para asignar nuevos filtros-->
                    </ul>
                </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
        <div class="right-aside ">
            <div class="right-page-header">
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="card-title m-t-10">Plantilla </h4>
                    </div>
                    <div class="ml-auto">
                        <input type="text" id="demo-input-search2" placeholder="search contacts" class="form-control"> </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="jugadores" class="table m-t-30 table-hover table-striped no-wrap contact-list" data-page-size="10">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Foto</th>
                            <th>Nacionalidad</th>
                            <th>Media</th>
                            <th>Potencial</th>
                            <th>Club</th>
                            <th>Valor</th>
                            <th>Salario</th>
                            <th>Posición</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>
                                <a href="app-contact-detail.html"> Cristiano Ronaldo</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/20801.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/38.png" alt="user" class="img-circle" /></td>
                            <td>94</td>
                            <td>94</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €95.5M </td>
                            <td> €565K </td>
                            <td><span class="label label-danger">DC</span> <span class="label label-danger">EI</span></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="app-contact-detail.html"> L. Messi</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/158023.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/52.png" alt="user" class="img-circle" /></td>
                            <td>93</td>
                            <td>93</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> </td>
                            <td> €105M </td>
                            <td> €565K </td>
                            <td><span class="label label-danger">ED</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <a href="app-contact-detail.html"> Neymar</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/190871.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/54.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>94</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/73.png" alt="user" class="img-circle" /> </td>
                            <td> €123M </td>
                            <td> €280K </td>
                            <td><span class="label label-danger">EI</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <a href="app-contact-detail.html"> L. Suárez</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/176580.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/60.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/241.png" alt="user" class="img-circle" /> </td>
                            <td> €97M </td>
                            <td> €510K </td>
                            <td><span class="label label-danger">DC</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <a href="app-contact-detail.html"> M. Neuer</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/167495.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/21.png" alt="user" class="img-circle" /></td>
                            <td>92</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/21.png" alt="user" class="img-circle" /> </td>
                            <td> €61M </td>
                            <td> €230K </td>
                            <td><span class="label label-themecolor">PT</span> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <a href="app-contact-detail.html"> R. Lewandowski</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/188545.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/37.png" alt="user" class="img-circle" /></td>
                            <td>91</td>
                            <td>91</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/21.png" alt="user" class="img-circle" /> </td>
                            <td> €92M </td>
                            <td> €355K </td>
                            <td><span class="label label-danger">DC</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <a href="app-contact-detail.html"> De Gea</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/193080.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/45.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>92</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/11.png" alt="user" class="img-circle" /> </td>
                            <td> €64.5M </td>
                            <td> €215K </td>
                            <td><span class="label label-themecolor">PT</span> </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <a href="app-contact-detail.html"> E. Hazard</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/183277.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/7.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>91</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/5.png" alt="user" class="img-circle" /> </td>
                            <td> €90.5M </td>
                            <td> €295K </td>
                            <td><span class="label label-danger">EI</span> </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <a href="app-contact-detail.html"> T. Kroos</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/182521.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/7.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €79M </td>
                            <td> €340K </td>
                            <td><span class="label label-success">MC</span> <span class="label label-success">MCD</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <a href="app-contact-detail.html"> G. Higuaín</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/167664.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/52.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/45.png" alt="user" class="img-circle" /> </td>
                            <td> €77M </td>
                            <td> €275K </td>
                            <td><span class="label label-danger">DC</span> </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <a href="app-contact-detail.html"> Sergio Ramos</a>
                            </td>
                            <td>32</td>
                            <td><img src="https://cdn.sofifa.org/48/18/players/155862.png" alt="user" class="img-circle" /></td>
                            <td><img src="https://cdn.sofifa.org/flags/45.png" alt="user" class="img-circle" /></td>
                            <td>90</td>
                            <td>90</td>
                            <td> <img src="https://cdn.sofifa.org/24/18/teams/243.png" alt="user" class="img-circle" /> </td>
                            <td> €52M </td>
                            <td> €310K </td>
                            <td><span class="label label-warning">DFC</span> </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
                            </td>
                            <!-- /modal para agregar nuevo jugador-->
                            <td colspan="7">
                                <div class="text-right">
                                    <ul class="pagination"> </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>


            </div>


        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->